@media only screen and (max-width: 600px) {
    .admin-nav {
      display: none;
    }
  
    .elemento-menu {
      display: block;
      margin-bottom: 10px;
      background-color: #4CAF50;
      color: white;
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;
    }
  
    .elemento-menu:hover {
      background-color: #3e8e41;
    }
  
    .admin-content {
      margin-top: 20px;
      background-color: #f2f2f2;
      padding: 20px;
      border-radius: 5px;
    }
  
    .admin-title {
      text-align: center;
      margin-top: 20px;
      color: #4CAF50;
    }
  }
  