.drawer {
  display: flex;
  position: fixed;
  top: 900px; /* Ocultamos el drawer debajo de la pantalla */
  left: 0;
  width: 100%;
  justify-content:center;
  height: 500px;
  background-color: #f14b42;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out, bottom 0s ease-in-out 0.3s; /* Agregamos una transición de transformación y de bottom para animar el drawer */
}
.drawer.open {
  bottom: 0; /* Mostramos el drawer en la pantalla */
  transform: translate3d(
    0,
    -100%,
    0
  ); /* Movemos el drawer hacia arriba para que se muestre desde abajo de la pantalla */
  transition: transform 0.3s ease-in-out, bottom 0s ease-in-out 0s; /* Agregamos una transición de transformación y de bottom para animar el drawer */
}
.btn.btn-outline-success.m-3 {
  background-color: #9ce070;
  color: #313131;
  border: none;
  width: 100px;
}
.btn.btn-outline-dark.m-4 {
  background-color: #313131;
  color: #fafad2;
}
.btn.btn-info.m-1 {
  background-color: #313131;
  color: #fafad2;
  border: none;
  margin-top: 1%;
  width: 270px;
}

.opciones-drawer{
  width: 100%;
}