* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body,
html {
  padding: 0;
  margin: 0;
}

p {
  color: #fafad2;
}

h4 {
  color: #fafad2;
  text-align: right;
  font-style: italic;
}

h5 {
  color: #fafad2;
  text-align: left;
}

h6 {
  color: #fafad2;
  font-style: italic;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  margin: auto;
  max-width: 400px;
  border: 1px solid;
  padding: 0 2rem 2rem 2rem;
  margin-top: 2rem;
  background-color: #313131;
  font-weight: bold;
  font-size: 18px;
}
.btn.btn-outline-success.m-1 {
  background-color: #9ce070;
  color: #313131;
  border: none;
  width: 50px;
}

.btn.btn-outline-danger {
  background-color: #f14b42;
  color: #313131;
  border: none;
  width: 50px;
}

img {
  border-radius: 500px;
}

