{% extends 'base.html.twig' %}

{% block title %}New Orders{% endblock %}

{% block body %}
    <h1>Create new Orders</h1>

    {{ include('orders/_form.html.twig') }}

    <a href="{{ path('app_orders_index') }}">back to list</a>
{% endblock %}
