{% extends 'base.html.twig' %}

{% block title %}New Orders{% endblock %}

{% block body %}
    <h1>Crear un nuevo pedido</h1>

    {{ include('orders/_form.html.twig') }}

    <a href="{{ path('app_orders_index') }}">Volver a lista</a>
{% endblock %}
