{% extends 'base.html.twig' %}

{% block title %}New Orders{% endblock %}

{% block body %}
    
    <div {{ react_component('pages/client/ClientPage', {'idres' : idrestaurant , 'idtable' : idtable , 'menu' : menu}) }}></div>
    
{% endblock %}
