{% extends 'base.html.twig' %}

{% block title %}New Orders{% endblock %}

{% block body %}
    
    <div {{ react_component('pages/client/ClientPage', {'idres' : idres , 'idtable' : idtable }) }}></div>
    
{% endblock %}
