{% extends 'base.html.twig' %}

{% block title %}Pay{% endblock %}

{% block body %}

  <div {{ react_component('Subtotal', {}) }}></div>
  <div {{ react_component('DrawerSubtotal', {}) }}></div>
{% endblock %}