{% extends 'base.html.twig' %}

{% block title %}Pay{% endblock %}

{% block body %}
  <div class='container d-flex justify-content-center flex-column'  {{ react_component('pages/client/PayPage', {'stripeKey': stripe_key , 'orderId': order_id , 'orderProducts' : orderProds}) }}></div>

{% endblock %}