{% extends 'base.html.twig' %}

{% block title %}Pay{% endblock %}

{% block body %}
  <div class='container d-flex justify-content-center'>
    <div {{ react_component('Productos', {}) }}></div>
    <div class='position-absolute bottom-0 m-5' {{ react_component('Subtotal', { 'stripeKey': stripe_key } ) }}></div>
  </div>

{% endblock %}