{% extends 'base.html.twig' %}

{% block title %}Pay{% endblock %}

{% block body %}
  <div class='container d-flex justify-content-center flex-column'>
    <div {{ react_component('Productos', {}) }}></div>
    <div {{ react_component('Subtotal', { 'stripeKey': stripe_key } ) }}></div>
  </div>
{% endblock %}