{% extends 'base.html.twig' %}

{% block title %}Edit Table{% endblock %}

{% block body %}
    <h1>Edit Table</h1>

    {{ include('table/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_table_index') }}">back to list</a>

    {{ include('table/_delete_form.html.twig') }}
{% endblock %}
